{% extends 'base.html' %}

{% load static %} 

{% block content %}


<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"> 

    <video autoplay muted loop id="background-video">
        <source src="{% static 'background1-video.mp4' %}" type="video/mp4">
            
    </video>

    <nav class="navbar-container">
        <!-- Your navigation bar content here -->
    </nav>

    <!-- Heading -->
    <div class="heading-container">
        <h1>Welcome to Our Multibiometric Car Door Lock System</h1>
    </div>
</div>
{% endblock %}
